body {
    box-sizing: border-box;
}

body, input, button {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 1rem;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    background-color: #eef5db;
    cursor: pointer;
    display: grid;
    place-content: center;
    height: 100vh;
}
